@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}

.blue-underline {
  text-decoration: underline;
  text-decoration-color: #5e74e8;
}

@keyframes marquee-ltr {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee-container {
  position: relative;
  width: 100%;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
}

.animate-marquee-ltr {
  display: inline-block;
  animation: marquee-ltr 10s linear infinite;
}
